body {
  background: url(https://cdn.wallpapersafari.com/29/34/8Ak1Sf.png) no-repeat
    center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.logo {
  height: 100px;
}

.badge {
  font-size: 2rem;
}

.result {
  text-align: center;
  /* background-color: white; */
}
