body {
  background: url(https://cdn.wallpapersafari.com/29/34/8Ak1Sf.png) no-repeat
    center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Roboto Mono', monospace;
}

.logo {
  height: 100px;
}

.badge {
  font-size: 3rem;
  padding: 0;
}

.result {
  text-align: center;
}
